# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
backend/server/node_modules
backend/server/dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & API keys
.env
frontend/.env
backend/.env
.env.local
.env.*.local
firebase_service_account.json
firebase_service_account.json.json
backend/server/.env
